Repository TeamBeMyPlan/BeMyPlan-Server-Release, pull requests merged in 2022-03, with the labels that each got.

#21 [#15] 여행지 목록 조회 API 개발 / DB구조 수정
  src/main/java/com/deploy/bemyplan/common/mapper/plan/RegionTypeMapper.java
  src/main/java/com/deploy/bemyplan/common/mapper/plan/dto/response/RegionTypeResponse.java
  src/main/java/com/deploy/bemyplan/controller/plan/PlanRegionController.java
  src/main/java/com/deploy/bemyplan/domain/plan/Area.java
  src/main/java/com/deploy/bemyplan/domain/plan/AreaStatus.java
  src/main/java/com/deploy/bemyplan/domain/plan/Plan.java
  src/main/java/com/deploy/bemyplan/domain/plan/RegionType.java
Labels: enhancement, fix

#22 [#20] 여행지별(Region) 여행일정 조회 API 개발
  src/main/java/com/deploy/bemyplan/config/EnumMapperConfig.java
  src/main/java/com/deploy/bemyplan/controller/plan/PlanRetrieveController.java
  src/main/java/com/deploy/bemyplan/controller/plan/dto/request/RetrievePlansRequest.java
  src/main/java/com/deploy/bemyplan/domain/plan/repository/PlanRepositoryCustom.java
  src/main/java/com/deploy/bemyplan/domain/plan/repository/PlanRepositoryCustomImpl.java
  src/main/java/com/deploy/bemyplan/service/plan/PlanRetrieveService.java
Labels: enhancement, plan

#27 [#23] 여행일정 상세 조회 API 개발
  src/main/java/com/deploy/bemyplan/controller/plan/PlanRetrieveController.java
  src/main/java/com/deploy/bemyplan/domain/plan/SpotContent.java
  src/main/java/com/deploy/bemyplan/domain/plan/SpotContentStatus.java
  src/main/java/com/deploy/bemyplan/domain/plan/repository/PlanRepositoryCustom.java
  src/main/java/com/deploy/bemyplan/domain/plan/repository/PlanRepositoryCustomImpl.java
  src/main/java/com/deploy/bemyplan/service/plan/PlanRetrieveService.java
  src/main/java/com/deploy/bemyplan/service/plan/dto/response/PlanDetailResponse.java
  src/main/java/com/deploy/bemyplan/service/plan/dto/response/PlanPreviewResponse.java
  src/main/java/com/deploy/bemyplan/service/plan/dto/response/ScheduleDetailResponse.java
  src/main/java/com/deploy/bemyplan/service/plan/dto/response/SpotDetailContentsResponse.java
  src/main/java/com/deploy/bemyplan/service/plan/dto/response/SpotDetailResponse.java
Labels: enhancement, plan

#26 [#19] 스크랩 기능 API 개발
  src/main/java/com/deploy/bemyplan/controller/scrap/ScrapController.java
  src/main/java/com/deploy/bemyplan/domain/scrap/Scrap.java
  src/main/java/com/deploy/bemyplan/domain/scrap/repository/ScrapRepositoryCustom.java
  src/main/java/com/deploy/bemyplan/domain/scrap/repository/ScrapRepositoryCustomImpl.java
  src/main/java/com/deploy/bemyplan/service/scrap/ScrapService.java
Labels: enhancement, scrap

#28 [#19] 여행일정 스크랩 기능 API 개발
  src/main/java/com/deploy/bemyplan/common/exception/ErrorCode.java
  src/main/java/com/deploy/bemyplan/controller/plan/PlanController.java
  src/main/java/com/deploy/bemyplan/controller/scrap/ScrapController.java
  src/main/java/com/deploy/bemyplan/domain/scrap/Scrap.java
  src/main/java/com/deploy/bemyplan/domain/scrap/repository/ScrapRepositoryCustomImpl.java
  src/main/java/com/deploy/bemyplan/service/scrap/ScrapService.java
  src/main/java/com/deploy/bemyplan/service/scrap/ScrapServiceUtils.java
Labels: enhancement, plan, scrap

#30 [#29] 내가 스크랩한 여행일정 조회 API
  src/main/java/com/deploy/bemyplan/controller/plan/PlanRetrieveController.java
  src/main/java/com/deploy/bemyplan/domain/collection/AuthorDictionary.java
  src/main/java/com/deploy/bemyplan/domain/plan/repository/PlanRepositoryCustom.java
  src/main/java/com/deploy/bemyplan/domain/plan/repository/PlanRepositoryCustomImpl.java
  src/main/java/com/deploy/bemyplan/domain/scrap/repository/ScrapRepositoryCustom.java
  src/main/java/com/deploy/bemyplan/domain/scrap/repository/ScrapRepositoryCustomImpl.java
  src/main/java/com/deploy/bemyplan/service/plan/PlanRetrieveService.java
  src/main/java/com/deploy/bemyplan/service/plan/dto/request/RetrieveMyPlanBookmarksRequestDto.java
  src/main/java/com/deploy/bemyplan/service/plan/dto/response/PlansScrollResponse.java
Labels: enhancement, plan, scrap

#34 [#33] 로그아웃, 회원탈퇴 API 개발
  src/main/java/com/deploy/bemyplan/controller/auth/AuthController.java
  src/main/java/com/deploy/bemyplan/controller/auth/dto/request/SignOutUserRequest.java
  src/main/java/com/deploy/bemyplan/domain/user/User.java
  src/main/java/com/deploy/bemyplan/domain/user/WithdrawalUser.java
  src/main/java/com/deploy/bemyplan/domain/user/WithdrawalUserRepository.java
  src/main/java/com/deploy/bemyplan/service/user/UserService.java
  src/main/resources/messages/validation.properties
Labels: enhancement, auth
